# 01 Importing libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02 Importing Data

In [4]:
# Create strings for path
path=r'C:\Users\Oksana Stepanova\OneDrive\Документи\Instacart Basket Analysis'

In [6]:
# Import Orders-Products data after merging and deriving new variables
df_ords_prods_merge=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_new_vars.pkl'))

In [7]:
df_ords_prods_merge.shape

(32399732, 18)

In [8]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_slowest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Regular busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Regular busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Slowest days,Most orders

In [9]:
# Create a subset containing of first 1 mio rows
df=df_ords_prods_merge[:1000000]

In [10]:
df.shape

(1000000, 18)

In [11]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_slowest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Regular busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Regular busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Slowest days,Most orders

# 03 Grouping data

In [14]:
# Group the data on product_name column
df.groupby('product_name')

# 04 Aggregating data with agg()

In [17]:
# Group the data by department_id and aggregate the data by order_number
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

# The output shows the average number of orders per user for each department ID.

# 05 Aggregating data with mean()

In [20]:
# Group the data by department_id and aggregate the data by order_number
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [21]:
df.groupby('department_id').order_number.mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

# 06 Multiple Aggregations

In [23]:
# Group and aggregate using multiple statistics (mean. min, max)
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

# 07 Aggregating Data with transform()

In [25]:
# Create a new column 'max_order' and calculate maximum orders per customer
df_ords_prods_merge['max_order']=df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_21580\2686850048.py:2: FutureWarning: The provided callable <function amax at 0x00000243C02EE700> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order']=df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [26]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_slowest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Regular busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Regular busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Slowest days,Most orders,10

In [30]:
df_ords_prods_merge.loc[df_ords_prods_merge['user_id']==1]

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_slowest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Regular busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Regular busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Regular busy,Regular busy,Average orders,10
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Regular busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,Mid range product,Regular busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,Mid range product,Regular busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,Mid range product,Least busy,Slowest days,Average orders,10
35791,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid range product,Regular busy,Regular busy,Average orders,10
51726,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,Low range product,Regular busy,Regular busy,Average orders,10
51727,2398795,1,2,3,7,15.0,False,12427,3,1,Original Beef Jerky,23,19,4.4,Low range product,Regular busy,Slowest days,Average orders,10
51728,473747,1,3,3,12,21.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,Low range product,Regular busy,Slowest days,Most orders,10
51729,2254736,1,4,4,7,29.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,Low range product,Least busy,Slowest days,Average orders,10
51730,431534,1,5,4,15,28.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,Low range product,Least busy,Slowest days,Most orders,10
51731,3367565,1,6,2,7,19.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,Low range product,Regular busy,Regular busy,Average orders,10
51732,550135,1,7,1,9,20.0,False,12427,3,1,Original Beef Jerky,23,19,4.4,Low range product,Regular busy,Busiest days,Most orders,10
51733,3108588,1,8,1,14,14.0,False,12427,1,1,Original Beef Jerky,23,19,4.4,Low range product,Regular busy,Busiest days,Most orders,10
51734,2295261,1,9,1,16,0.0,False,12427,6,1,Original Beef Jerky,23,19,4.4,Low range product,Regular busy,Busiest days,Most orders,10
51735,2550362,1,10,4,8,30.0,False,12427,9,1,Original Beef Jerky,23,19,4.4,Low range product,Least busy,Slowest days,Average orders,10
58202,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low range product,Regular busy,Regular busy,Average orders,10
58203,2398795,1,2,3,7,15.0,False,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,Low range product,Regular busy,Slowest days,Average orders,10
60725,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low range product,Regular busy,Regular busy,Average orders,10
60726,2254736,1,4,4,7,29.0,False,26405,5,1,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low range product,Least busy,Slowest days,Average orders,10
61939,2398795,1,2,3,7,15.0,False,10258,2,0,Pistachios,117,19,3.0,Low range product,Regular busy,Slowest days,Average orders,10
61940,473747,1,3,3,12,21.0,False,10258,3,1,Pistachios,117,19,3.0,Low range product,Regular busy,Slowest days,Most orders,10
61941,2254736,1,4,4,7,29.0,False,10258,3,1,Pistachios,117,19,3.0,Low range product,Least busy,Slowest days,Average orders,10
61942,431534,1,5,4,15,28.0,False,10258,3,1,Pistachios,117,19,3.0,Low range product,Least busy,Slowest days,Most orders,10
61943,3367565,1,6,2,7,19.0,False,10258,3,1,Pistachios,117,19,3.0,Low range product,Regular busy,Regular busy,Average orders,10
61944,550135,1,7,1,9,20.0,False,10258,2,1,Pistachios,117,19,3.0,Low range product,Regular busy,Busiest days,Most orders,10
61945,3108588,1,8,1,14,14.0,False,10258,3,1,Pistachios,117,19,3.0,Low range product,Regular busy,Busiest days,Most orders,10
61946,2295261,1,9,1,16,0.0,False,10258,5,1,Pistachios,117,19,3.0,Low range product,Regular busy,Busiest days,Most orders,10
61947,2550362,1,10,4,8,30.0,False,10258,6,1,Pistachios,117,19,3.0,Low range product,Least busy,Slowest days,Average orders,10
63885,2398795,1,2,3,7,15.0,False,13176,4,0,Bag of Organic Bananas,24,4,10.3,Mid range product,Regular busy,Slowest days,Average orders,10
63886,431534,1,5,4,15,28.0,False,13176,8,1,Bag of Organic Bananas,24,4,10.3,Mid range product,Least busy,Slowest days,Most orders,10
443335,2398795,1,2,3,7,15.0,False,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,Low range product,Regular busy,Slowest days,Average orders,10
443336,550135,1,7,1,9,20.0,False,13032,5,1,Cinnamon Toast Crunch,121,14,4.0,Low range product,Regular busy,Busiest days,Most orders,10
443337,2550362,1,10,4,8,30.0,False,13032,8,1,Cinnamon Toast Crunch,121,14,4.0,Low range product,Least busy,Slowest days,Average orders,10
447086,473747,1,3,3,12,21.0,False,25133,4,0,Organic String Cheese,21,16,8.6,Mid range product,Regular busy,Slowest days,Most orders,10
447087,2254736,1,4,4,7,29.0,False,25133,4,1,Organic String Cheese,21,16,8.6,Mid range product,Least busy,Slowest days,Average orders,10
447088,431534,1,5,4,15,28.0,False,25133,4,1,Organic String Cheese,21,16,8.6,Mid range product,Least busy,Slowest days,Most orders,10
447089,3367565,1,6,2,7,19.0,False,25133,4,1,Organic String Cheese,21,16,8.6,Mid range product,Regular busy,Regular busy,Average orders,10
447090,550135,1,7,1,9,20.0,False,25133,4,1,Organic String Cheese,21,16,8.6,Mid range product,Regular busy,Busiest days,Most orders,10
447091,3108588,1,8,1,14,14.0,False,25133,4,1,Organic String Cheese,21,16,8.6,Mid range product,Regular busy,Busiest days,Most orders,10
447092,2295261,1,9,1,16,0.0,False,25133,3,1,Organic String Cheese,21,16,8.6,Mid range product,Regular busy,Busiest days,Most orders,10
447093,2550362,1,10,4,8,30.0,False,25133,5,1,Organic String Cheese,21,16,8.6,Mid range product,Least busy,Slowest days,Average orders,10
453282,473747,1,3,3,12,21.0,False,30450,5,0,Creamy Almond Butter,88,13,3.2,Low range product,Regular busy,Slowest days,Most orders,10
474772,431534,1,5,4,15,28.0,False,10326,5,0,Organic Fuji Apples,24,4,2.7,Low range product,Least busy,Slowest days,Most orders,10
480298,431534,1,5,4,15,28.0,False,17122,6,0,Honeycrisp Apples,24,4,14.0,Mid range product,Least busy,Slowest days,Most orders,10
494178,431534,1,5,4,15,28.0,False,41787,7,0,Bartlett Pears,24,4,5.0,Low range product,Least busy,Slowest days,Most orders,10
529591,3108588,1,8,1,14,14.0,False,46149,5,0,Zero Calorie Cola,77,7,13.4,Mid range product,Regular busy,Busiest days,Most orders,10
529592,2295261,1,9,1,16,0.0,False,46149,2,1,Zero Calorie Cola,77,7,13.4,Mid range product,Regular busy,Busiest days,Most orders,10
529593,2550362,1,10,4,8,30.0,False,46149,2,1,Zero Calorie Cola,77,7,13.4,Mid range product,Least busy,Slowest days,Average orders,10
538149,3108588,1,8,1,14,14.0,False,49235,6,0,Organic Half & Half,53,16,1.8,Low range product,Regular busy,Busiest days,Most orders,10
538150,2295261,1,9,1,16,0.0,False,49235,1,1,Organic Half & Half,53,16,1.8,Low range product,Regular busy,Busiest days,Most orders,10
614509,2550362,1,10,4,8,30.0,False,39657,3,0,Milk Chocolate Almonds,45,19,6.8,Mid range product,Least busy,Slowest days,Average orders,10
619528,2550362,1,10,4,8,30.0,False,38928,4,0,0% Greek Strained Yogurt,120,16,12.6,Mid range product,Least busy,Slowest days,Average orders,10
632766,2550362,1,10,4,8,30.0,False,35951,7,0,Organic Unsweetened Almond Milk,91,16,1.3,Low range product,Least busy,Slowest days,Average orders,10

In [35]:
df_ords_prods_merge['order_number'].loc[df_ords_prods_merge['user_id']==1].describe()

count    59.000000
mean      5.813559
std       2.991220
min       1.000000
25%       3.000000
50%       6.000000
75%       8.500000
max      10.000000
Name: order_number, dtype: float64

In [37]:
# Create a new column 'loyalty_flag' and assign loyalty label 'Loyal customer' if order number >40
df_ords_prods_merge.loc[df_ords_prods_merge['max_order']>40, 'loyalty_flag']='Loyal customer'

In [38]:
# Create a new column 'loyalty_flag' and assign loyalty label 'Regular customer' if order nember <=40 and >10 
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order']<=40) & (df_ords_prods_merge['max_order']>10), 'loyalty_flag']='Regular customer'

In [40]:
# Create a new column 'loyalty_flag' and assign loyalty label 'New customer' if order nember <=10
df_ords_prods_merge.loc[df_ords_prods_merge['max_order']<=10, 'loyalty_flag']='New customer'

In [42]:
# Change row numbers settings of head() function
pd.options.display.max_rows=None

In [43]:
# Print the first 60 rows of selected columns on Orders-Products dataframe
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3